!!!
%html
  %head
    %title Wörterbuch Arabisch-Deutsch
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header-background
    %h1 Wörterbuch Arabisch-Deutsch
    = yield
    #footer
      = render(:partial => 'layouts/news')
      Geschrieben und betrieben von <a href="http://weitnahbei.de">Weitnahbei</a>.
      %br/
      Quelltext <a href="https://github.com/sixtyfive/ankidict_arde-dear">frei verfügbar</a> (speech &amp; beer).
      %br/
      Copyright Vokabular zum größten Teil &copy; 2010 <a href="http://www.modern-standard-arabic.com">Prof. Dr. Eckehard Schulz</a>.
      = render(:partial => 'layouts/piwik')
      %p
        Errata, Bug Reports oder allgemeine Anmerkungen sind immer willkommen!
        %br/
        Dazu bitte entweder <a href="https://github.com/sixtyfive/ankidict_arde-dear">GitHub</a> oder <a href="https://www.facebook.com/groups/arabistik/?fref=ts">die Facebook-Gruppe "Arabistik Leipzig"</a> verwenden.
